.cardexamen{
    max-width: 400px;
    min-width: 300px;
    border: solid 2px black;
    padding: 16px;
    margin: 16px;
    background-color: #E5F6FF;
}
.cardexamen:hover{
    transform: scale(1.25) ;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.imagen{
    width: 100%;
    text-align: center;
    border: solid 1px black;
    box-shadow:  3px 3px 3px 3px gray;
}
.titulo{
    font-family: Roboto;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.card{
    background-color: #E5F6FF;
}
.textotarjeta{
    font-size: 16px;
    font-family: Montserrat;
    padding: 12px;
}
.botonlink{
    background-color: #007ACC;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    width: 400px;
}
.botonlink:hover{
    background-color: #005fa3;

}
.textoboton{
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}